

<a href = "/" style="text-decoration: none;">


<h1 style ="color: rgb(73, 73, 77);  ">TIE UP DIU</h1>

</a>

<form method="GET" action="{% url 'home' %}">
 <!--<input type="text" name="q"  placeholder="Search..."/>-->  
 <!--<nav class="navbar navbar-light ">
   <div class="container-fluid">
     <form class="">
       <input class="form-control-sm"  name="q" type="search" placeholder="Search" aria-label="Search">
     <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
  <!--</form>
</div>
</nav>--> 

<form class="d-flex">
   <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
   <button class="btn btn-outline-success" type="submit">Search</button>
 </form>
</form>
  {% if request.user.is_authenticated %}
<p >Hello {{request.user}} !! </p>


<a href = "{% url 'logout' %}" style="text-decoration: none; ">Logout</a>
   {% else %}
<a href="{% url 'login' %}"   style="text-decoration: none; ">Login</a>
{% endif %}

<hr style="color: black;">